<form action="/street_to_coords/results">
<div>
 <label for="user_street_input">Street Address</label>
 <input type="text" name="street_address" id="user_street_input" placeholder="222 W Merchandise Mart">
</div>

<div>
<label for="GEOCODING_API_KEY">Maps Key</label>
<input type="text" id="GEOCODING_API_KEY" name="key">
</div>

<div>
<label for="lat">Latitude</label>
<input type= "text" id="lat" name="latit">
</div>

<div>
<label for="lng">Longitude</label>
<input type= "text" id="lng" name="longi">
</div>

<h1>Street address to coordinates results</h1>
<dl>
  <dt>Street Address</dt>
  <dd><%= @street_address %></dd>

  <dt>Latitude</dt>
  <dd><%= @latitude %></dd>

  <dt>Longitude</dt>
  <dd><%= @longitude %></dd>
</dl>
